<div class="row">
    <div class="col s12">
        <h3 class="center-align">Courses for You!</h3>
    </div>
</div>

<div class="row">
	<div class="col s6 m6">
		<div class="card">
			<div class="card-image">
				<img src="https://res.cloudinary.com/medio/image/upload/v1618289168/project-courses/pexels-pavel-danilyuk-6925184.jpg">
				
				<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<span class="card-title">Basic Painting</span>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsam sunt aspernatur hic! Repellendus totam dicta voluptatem molestias possimus molestiae.</p>
			</div>
			<div class="card-action">
				<a href="#">Enroll</a>
				<a href="#">Info</a>
			</div>
		</div>
	</div>
	<div class="col s6 m6">
		<div class="card">
			<div class="card-image">
				<img src="https://res.cloudinary.com/medio/image/upload/v1618289165/project-courses/pexels-dapurmelodi-1109197.jpg">
				
				<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
			</div>
			<div class="card-content">
				<span class="card-title">Eastern Cooking</span>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex illum optio dolore veritatis quaerat beatae ratione porro quod, quas culpa?.</p>
			</div>
			<div class="card-action">
				<a href="#">Enroll</a>
				<a href="#">Info</a>
			</div>
		</div>
	</div>
</div>


