<h1>Course List</h1>

<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to JavaScript</li>
    <li>Description: A thorough into to JavaScript</li>
</ul>

<ul>
    <li>Code: CS112</li>
    <li>Name: Intro to NodeJS</li>
    <li>Description: A thorough into to NodeJS</li>
</ul>

<% # Omitted%> 
 <div class="input-field">

  <input type="text" id="name" name='name'>

  <label for="name">name</label>
 </div>

 <i class="material-icons">face</i>
<i class="material-icons md-36">face</i>